.main_contact .head {
    text-align: left !important;
    width: 60%;
    margin-top: 100px;

}

.main_contact .head h1 {
    font-family: 'Bebas Neue', sans-serif !important;
    font-size: 64px !important;
    color: #000 !important;
    font-weight: 400 !important;
    line-height: 100%;
}

.main_contact .head p {
    font-family: 'inter', sans-serif !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400 !important;
    width: 70% !important;
    opacity: 70% !important;
}

.before-span span {
    font-weight: 500 !important;
}

.contact_btn_page:hover {
    background: #000 !important;
    color: #fff !important;
    border: 1px solid #000 !important;

}


.main_img_side {
    width: 40%;
}

.main_img_side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact_box_area {
    height: 590px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: flex-start !important;
    margin-top: 50px !important;
}

.contact_box_area .main_content_box {
    width: 58% !important;
    height: 100% !important;
    display: flex !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    border: 1px solid #1A1A1A1A;
    border-radius: 8px !important;
    box-shadow: 0px 1px 8px 0px #00000014 !important;

}

.contact_box_area .contact_img {
    width: 50% !important;
    height: 100% !important;
}

.contact_box_side_left {
    padding: 20px;
    padding-bottom: 0px;
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #1A1A1A1A;

}

.contact_box_side_right {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 50%;
    padding: 20px;
    padding-bottom: 0px;

}

.up_side_content .company span {
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #1A1A1A99;
    line-height: 150%;

}

.up_side_content .company {
    margin: 10px 0px;

}

.up_side_content h4 {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 27.53px;
    vertical-align: middle;
    color: #1A1A1A;
    line-height: 150%;
}

.up_side_content .timer {
    margin: 10px 0px;
}

.up_side_content .timer span,
.up_side_content .timer i {
    font-family: 'inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    vertical-align: middle;
    color: #1A1A1A99;
    margin: 0px 5px;

}

.up_side_content p {
    font-family: 'inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #1A1A1A;
    line-height: 150%;
    margin: 20px 0px 0px;
}

.cookies {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cookies_setting p,
.report p {
    color: #0069FF;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 400;
    line-height: 150%;
    font-size: 14px;
    cursor: pointer;
}

.cookies_setting p:hover {
    text-decoration: underline;
}

.report p {
    color: #1A1A1A;
}

/* calender  */

calendar {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.calender_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calender_header button {
    color: black;
    border: none;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s;
    cursor: pointer;
}

.adding_bg_btn {
    background: #0069FF14 !important;
    color: #0069FF !important;
}

.calender_header button:hover {
    background: #0069FF14;
    color: #0069FF;
}

.calender_header button i {
    font-size: 20px;
}

.calender_header p {
    margin: 0;
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #1A1A1A !important;
}

.calender_title {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #1A1A1A;
    margin: 0px !important;
}

.weekdays,
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.weekdays div {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase;
    color: #1A1A1A;
    padding: 10px 0;
}

.days div {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    border-radius: 50%;
    text-transform: uppercase;
    color: #1A1A1A9C;
    padding: 15px;
    transition: background 0.3s;
    cursor: pointer;
}

.days div:hover {
    background-color: #0069FF14;
    color: #0069FF;
    font-weight: 500 !important;
}

.today {
    background-color: #0069FF14;
    color: #0069FF !important;
}



/* time zone */
.custom-timezone-dropdown {
    display: flex;
  align-items: center;
  position: relative;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  width: fit-content;
  background-color: white;
  gap: 6px;
}

.custom-timezone-dropdown .selected {
  white-space: nowrap;
}

.custom-timezone-dropdown .arrow {
  margin-left: 4px;
  font-size: 12px;
}

.custom-timezone-dropdown .timezone-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  z-index: 10;
  background: white;
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
}

.custom-timezone-dropdown .timezone-list li {
  padding: 8px 10px;
  margin: 0px !important;
  cursor: pointer;
}

.custom-timezone-dropdown .timezone-list li:hover {
  background-color: #f0f0f0;
}

.contact_showing_page_btn {
    background: transparent !important;
    font-size: 16px !important;
    color: #000 !important;
    border: 1px solid #000 !important;
    padding: 13px 20px !important;
    align-self: flex-end !important;
    justify-self: flex-end !important;
   
}

.contact_showing_page_btn span {

    font-size: 13px !important;
}

.contact_showing_page_btn:hover .progress_div {
    background: #000 !important;
    color: #fff !important;
    border: 2px solid #000 !important;
}

.contact_showing_page_btn:hover span {
    color: #fff !important;
}


#header-container {
    backdrop-filter: blur(4px) !important;
}



/* cursor */

.point {
    position: fixed;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid grey;
    border-radius: 50%;
    z-index: 99;
    transition: all .4s linear;
}

.blackside {
    border-color: white !important;
    color: white !important;
}


.blackside:hover {
    background: white !important;
    color: #000 !important;
}
.contact_project_area {
    padding: 0px !important;
}

.contact_project_area .container {
    justify-content: center !important;
}

.contact_project_area .container h2{
    text-align: center;
}
.contact_project_area .left {
    width: 60% !important;
}

.contact_project_area .project-btn {
    width: 100%;
}

.project-p{
    font-family: 'Instrument Sans' ,sans-serif !important;
    font-size: 18px !important; 
    font-weight: 500 !important;
    text-align: center;
    color: white !important;
    opacity: 70%;


}




/* testing  */

