@media only screen and (max-width: 2560px) {
    .section-1 {
        margin: auto !important;
        width: 90% !important;
    }

    .content-section-1 {
        gap: 40px !important;
    }

    .section-1-p {
        width: 65% !important;
    }

    .section-1-main {
        width: 90% !important;
        margin: auto !important;
    }

    .left_side_section_grow h1 {
        font-size: 223px;
    }

    .left_side_section_grow p {
        margin: 85px 0px 34px;
        font-size: 59px;
        width: 100%;
        line-height: 56px;
    }

    .para_2 {
        margin: 10px;
        font-size: 27px;
    }

    .left_side_section_grow button {
        padding: 24px 42px !important;
    }

    .infinite-slider-parent {
        overflow: hidden;
    }

    .top_brand_p {
        font-size: 30px;
    }

    .left_side_section_grow button span {
        font-size: 19px;
    }

    /* //amazon_listing */
    #hero {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grid-container {
        justify-content: end;
    }
    .boxes_content {
        display: none !important;
    }
}



@media only screen and (max-width: 1440px) {
    .section-1 {
        margin: auto !important;
        width: 100% !important;
    }


    .section-1-main {
        width: 100% !important;
        margin: auto !important;
    }

    .section-1-p {
        width: 100% !important;
    }

    .left_side_section_grow h1 {
        white-space: nowrap;
        font-size: 120px;
    }

    .left_side_section_grow p {
        font-size: 27px;
        margin: 45px 0px;
        line-height: normal;
    }

    .para_2 {
        margin: 0px;
        line-height: normal;
        font-size: 17px;
    }

    .left_side_section_grow button {
        padding: 15px 20px !important;
    }

    .top_brand_p {
        font-size: 16px !important;
    }

    /* amazon_listing */

    #hero {
        height: auto;
    }

    .hero_inner {
        margin-top: 200px;
    }

    .section-1-main {
        padding: 60px 100px;
    }
}



@media only screen and (max-width: 1024px) {
    .bg-img2 a {
        white-space: nowrap !important;
    }

    .contact-btn {
        display: none !important;
    }

    .services-ul li {
        line-height: 90px !important;
    }

    .contact-us {
        display: none;
    }

    .main_section_grow_scale {
        flex-direction: column;
    }

    .left_side_section_grow {
        width: 100%;
    }

    .right_side_section_grow {
        width: 50%;
        margin: auto;
    }

    .li-2 a {
        line-height: 105px;
    }

    .section_grow_scales {
        padding: 60px 0px;
    }

    .left_side_section_grow p {
        font-size: 26px;
        margin: 35px 0px;
        width: 63%;
    }

    .left_side_section_grow h1 {
        font-size: 90px;
    }

    /* amazon_listing */
    .content-section-1 {
        padding: 0px 60px;
    }

    .section-1-main .img_container {
        width: 225px;
    }

    .main_section_3 .right {
        width: 47%;
    }

    .boxes_content_section .bg_box_img {
        margin-left: 150px;
    }

    .content_right_side {
        width: 413px;
    }

    .img_area {
        width: 412px;
    }

}


@media only screen and (max-width: 769px) {
    .section-1-main {
        display: flex !important;
        flex-direction: column !important;
    }

    .section-1-p {
        width: 100% !important;
    }

    .content-section-1 {
        width: 80% !important;
    }


    .work-container {
        width: 61% !important;
    }

    .child {
        display: flex !important;
        flex-direction: column !important;
    }

    .feature span {
        font-size: 100px !important;
    }

    .work-para p {
        width: 70%;
        margin: 20px;
    }

    .work-scroll-2 {
        padding-left: 20px !important;
    }

    .work-btn a {
        width: 100% !important;
    }

    .why-chose-border {
        border-right: none !important;
        border-bottom: 1px solid !important;
    }

    .elementor-main-swiper {
        width: 100% !important;
    }

    .frequently-h1 {
        font-size: 100px !important;
    }

    .frequently-dl dl {
        width: 80% !important;
    }

    .container {
        flex-direction: column !important;
    }

    .container .left {
        width: 100% !important;
    }

    .testimonial-head {
        font-size: 70px !important;
    }

    .overlay-img .pin-spacer {
        height: auto !important;
    }


    .hero-title {
        font-size: 110px !important;
        line-height: 100% !important;
    }

    .section-1-main {
        padding: 100px 60px !important;
    }

    .content-section-1 {
        margin: 0 !important;
        padding: 0 !important;
    }

    .section1-head {
        line-height: 100% !important;
    }

    .section_2_main {
        width: 100% !important;
        justify-content: center !important;
    }

    .show_casse_black_side {
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .div_1 {
        width: 100% !important;
        margin: 20px 0px !important;
    }

    .section_3 .head h2 {
        line-height: 100% !important;
        font-size: 60px !important;
    }

    .main_section_3 {
        flex-direction: column !important;
    }

    .main_section_3 .left,
    .main_section_3 .right {
        width: 100% !important;
    }

    .section_4 .head_part {
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    .section_4 .head_part .content {
        width: 100% !important;
    }

    .grids_main_area_section {
        flex-direction: column !important;
    }

    .grids_sections_left_side {
        width: 100% !important;
    }

    .grid-container {
        grid-template-columns: repeat(2, 50%) !important;
    }

    .single-column-grid {
        grid-template-columns: 100% !important;
    }

    .repeating_div {
        flex-direction: column !important;
    }

    .content_left_side {
        width: 100% !important;
    }

    .content_left_side .content h2 {
        line-height: 100% !important;
    }

    .content_right_side {
        align-self: center !important;
    }

    data_content_section .head p {
        width: 100% !important;
    }

    .data_content_section .head h2 {
        line-height: 100% !important;
    }

    .data_content_main {
        flex-direction: column !important;

    }

    .para_content {
        width: 100% !important;
        margin-bottom: 50px !important;
    }

    .main_content_head h2 {
        line-height: 100% !important;
        font-size: 50px !important;
    }

    .hero_inner {
        margin-top: 100px !important;
    }

    .grid-container {
        gap: 10px !important;
    }

    .content_left_side .content {
        margin-bottom: 50px !important;
    }

    .repeating_div_2 {
        flex-direction: column-reverse !important;
    }

    .container .left h2 {
        line-height: 100% !important;
    }

    footer {
        padding: 60px 40px !important;
    }

    .footer_main_content {
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    .side_1 {
        padding: 0px 10px !important;
    }

    .first_div_content {
        flex-direction: column !important;
    }

    .boxes_content {
        display: block !important;
    }

    .bg_box_img {
        display: none !important;
    }

    .boxes_content_section {
        padding: 0px !important;
        margin: 80px 0px !important;
    }

    .box_1_content {
        padding: 20px 0px !important;
        flex-direction: column;
    }

    .box_2 {
        border-bottom: 1px solid black !important;
    }

    .main_boxes_content {
        display: flex !important;
        flex-direction: column !important;

    }

    .boxes_content {
        width: 100% !important;
    }

    .main_boxes_content-1 {
        border: none !important;
    }

    .boxes_content_section img {
        margin: 0px !important;
    }
}

@media only screen and (max-width: 430px) {
    h2 {
        line-height: 100% !important;
    }

    .hero-section {
        padding-bottom: 0px !important;
    }

    #hero-styles {
        margin-bottom: 0px !important;
    }

    .hero-subtitle {
        width: 100% !important;
        margin: 20px auto 0px !important;
    }

    .secrion-2-p p {
        width: 60%;
        margin: auto;
        font-weight: 500 !important;
        line-height: 27px !important;
    }

    .infinite-slider {
        margin: 10px !important;
    }

    .content-section-1 {
        width: 100% !important;
        gap: 14px !important;
    }

    .content-section-1 div h2 {
        white-space: nowrap !important;
        font-size: 41px !important;
    }

    .feature {
        margin: 50px 0px 0px !important;
    }

    .services-ul li {
        height: 250px !important;
    }

    .services-ul li a {
        font-size: 65px !important;
    }

    .work-container {
        width: 100% !important;
    }

    .work-h1 {
        white-space: nowrap !important;
        font-size: 75px !important;
    }

    .work-para p {
        width: 100%;
    }

    .whychose {
        font-size: 90px !important;
    }

    .Feature_work h2 {
        font-size: 80px;
    }

    .testminonial-head {
        flex-direction: column !important;
        width: 50% !important;
        margin: auto !important;
        justify-content: center !important;
        align-items: center !important;
        font-size: 75px !important;
    }

    .portfolio-header h1 {
        font-size: 100px !important;
    }

    .filter-buttons {
        white-space: nowrap;
        overflow-x: scroll;
    }

    .frequently-h1 {
        font-size: 75px !important;
    }

    .frequently-para {
        width: 65% !important;
        margin: 30px auto !important;
        color: black !important;
    }

    .project-p {
        margin-top: 20px !important;
    }

    .input-group {
        flex-direction: column !important;
    }

    .input-group input {
        width: 100% !important;
    }

    .left h1 {
        font-size: 65px !important;
    }

    .testimonial-head {
        margin-bottom: 30px;
    }

    /* //amazon Listing page  */
    .hero_inner {
        margin: 0pc !important;
    }

    .stretch-up h1 {
        font-size: 92px !important;
    }

    .infinite-slider-parent {
        margin: 50px 0px;
        overflow: hidden;
    }

    .section-1-main {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .content-section-1 div h2 {
        white-space: wrap !important;
    }

    .progress_btn_1 {
        width: 100% !important;
    }

    .section_img_2 .img_container {
      width: 176px !important;
        height: 170px !important;
    }

    .div_1 {
        margin: 30px 0px !important;
    }

    .section_3 {
        padding: 70px 30px 100px !important;
    }

    .section_3 .head h2 {
        width: 100% !important;
        font-size: 47px !important;
    }
    .hero-title div span{
        margin: 0px 0px;
}

    .data_content h4 {
        margin: 10px 0px !important;
    }

    .section_4 {
        padding: 30px !important;
    }

    .head_part .content h2 {
        font-size: 49px !important;
    }

    .head_part .content p {
        font-size: 16px !important;
        opacity: 80% !important;
        width: 100% !important;
    }

    .bg_box_img {
        display: none !important;
    }

    .product_describing {
        padding: 100px 30px !important;
    }

    .rendering-section {
        padding: 0px 30px !important;
    }

    .content_left_side .content h2 {
        font-size: 40px !important;
    }

    .content_left_side .content .para_in_content {
        font-size: 24px !important;
    }
    .product_describing .head h2{
        font-size: 50px;
    }

    .data_content_section {
        padding: 0px 30px 100px !important;
    }

    .data_content_section .head {
        text-align: left !important;
    }

    .data_content_section .head h2 {
        font-size: 48px !important;
    }

    .data_content_section .head p {
        width: 100% !important;
        font-size: 24px !important;
    }

    .blog_content_post {
        padding: 60px 30px !important;
    }

    .last_content_area_listing {
        padding: 100px 30px !important;
    }

    .content_left_side_last h2 {
        font-size: 26px !important;
        margin: 10px 0px !important;
    }

    .container .left h2 {
        font-size: 48px !important;
    }

    footer {
        padding: 60px 20px !important;
    }

    .side_2,
    side_3 {
        width: auto !important;
    }

    .last {
        flex-direction: column-reverse !important;
        gap: 10px !important;
    }

    content_logo_side p {
        width: 100% !important;
    }

    .last p,
    .last .spans span {
        text-align: center !important;
    }

 
}

@media only screen and (max-width: 375px) {
    .left h1 {
        font-size: 65px;
    }

    .section1-head {
        font-size: 39px !important;
    }


    .stretch-up h1 {
        font-size: 65px !important;
    }

    .section-1 {
        padding: 0px !important;
    }

    .secrion-2-p p {
        width: 100% !important;
    }

    .section_img_2 .img_container {
        width: 127px !important;
        height: 136px !important;
    }

    .content_right_side {
        width: 278px !important;
        height: 278px !important;
    }

    .content_left_side .content .para_in_content {
        width: 100% !important;
        font-size: 20px !important;
    }

    .img-area {
        width: 270px;
        height: 278px !important;
    }

    .main_content_head h2 {
        font-size: 33px !important;
    }

    content_logo_side p {
        width: 100% !important;
    }

    .last p,
    .last .spans span {
        text-align: center !important;
    }

}


@media only screen and (max-width: 320px) {
    .section-2-p p {
        width: 70% !important;
    }

    .section-head {
        white-space: wrap !important;
    }

    .feature {
        white-space: nowrap !important;
    }

    .feature span {
        font-size: 90px !important;
    }

    .work-h1 {
        font-size: 60px !important;
    }

    .testimonial-head {
        font-size: 60px;
    }

    .portfolio-header h1 {
        font-size: 75px !important;
    }

    .portfolio-header p {
        width: 100% !important;
    }

    .frequently-h1 {
        font-size: 75px !important;
    }

    .frequently-para {
        width: 80% !important;
    }

    .left h1 {
        white-space: nowrap !important;
        font-size: 55px !important;
    }
}